{% extends 'website/base.html' %}
{% load static %}
{% block content %}

  <!-- sponsor section -->
  <!-- <section id='sponsor' class='border-bottom'>
    <div class='container'>
      <div class='row justify-content-center mb-4'>
        <i class='sponsorlogo'>Thank you to our sponsors</i>
      </div>
      <div class='row'>
        <div class='col-2 mx-auto'>
          <img class='sponsorlogo' src='{% static "/website/img/iasilogo.jpg" %}' style='max-width: 80%;'>
        </div>
        <div class='col-2 mx-auto'>
          <img class='sponsorlogo' src='{% static "/website/img/umflogo.png" %}'>
        </div>
        <div class='col-2 mx-auto'>
          <img class='sponsorlogo' src='{% static "/website/img/govlogo.png" %}'>
        </div>
        <div class='col-2 mx-auto'>
          <img class='sponsorlogo' src='{% static "/website/img/iasilogo.gif" %}' style='margin-top: 20%'>
        </div>
      </div>
    </div>
  </section> -->
  <!-- END OF sponsor section -->

  <!-- about section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class='display-1' style='text-align: center;'>R E S I O</h1>
          <p class="lead">Resio is a system that provides you with all the informations regarding your orientation and your relocation when you pass the residana.</p>
        </div>

        <div class='row mt-5 justify-content-center'>
          <div class='col-lg-3 text-center bg-light mx-auto p-4 rounded-lg shadow '>
            <img class='feature-icon mb-3' src='{% static "/website/img/listing.png" %}'>
            <p class="font-weight-bold">Listings from precedent years</p>
            <p class='text-justify'>We provide you with anonymized listings of the precedent years so that you can easily estimate the grade that you need to obtain a certain position.</p>
          </div>
          <div class='col-lg-3 text-center bg-light mx-auto p-4 rounded-lg shadow '>
            <img class='feature-icon mb-3' src='{% static "/website/img/algo.png" %}'>
            <p class="font-weight-bold">Powerful and Easy Algorithm</p>
            <p class='text-justify'>Our easy to use algorithm allows you to estime where you can go based on your grade, or which grade you need to obtain to get what you want.</p>
          </div>
          <div class='col-lg-3 text-center bg-light mx-auto p-4 rounded-lg shadow '>
            <img class='feature-icon mb-3' src='{% static "/website/img/paperwork.png" %}'>
            <p class="font-weight-bold">List of Paperwork, and more</p>
            <p class='text-justify'>Once you made your decision, we provide you with a clear and organized list of the paperwork that you need to prepare. We also introduce you to your future working environment.</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
   <!-- END OF about section -->

   <!-- service section -->
  <section id="services" class="bg-light service-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style='text-align: center;'>How do we get the data ?</h2>
          <p class="lead">The data are directly provided by the Department of Health. They are anonymized to respect the privacy of each candidate. 
            The aim of those data is to give you an idea of what you will be able to chose with a certain grade, or, on the contrary, what grade you
            need to qualify for a certain position. Obviously, the result that our algorithm give you is based on the precedent yearsm so this is 
            only an estimation.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF service section -->

  <!-- get started section -->
  <section id="getstarted">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto mb-5">
          <h2 style='text-align: center;'>Get Started</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class='col-lg-4 text-center'>
          <button type="button" class="btn btn-outline-warning btn-lg">Create an account</button>
        </div>
        <div class='col-lg-4 text-center'>
          <button type="button" class="btn btn-outline-primary btn-lg">Just browse the data</button>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF get started section -->

  {% endblock %}