{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
  <div class='container'>
    <h1 class='mb-2'>Algorithm</h1>
    <p class='lead mb-5'>Our algorithm will tell you the minimum grade that you must obtain to get what you want, or what you can get based on the grade you think you will have. Careful though, these are only estimations based on precedent years' data. </p>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed col-12 text-left" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseThree">
              <div class='row'>
                <div class='col-1'>
                  <img style='width: 100%;' src='{% static "/website/img/grade.png" %}'>
                </div>
                <div class='col-11'>
                  <h4 style='text-transform: none;'> What grade will I need to get ?</h4>
                  <p style='text-transform: none;'>Select your favorite city and the specialty you want to work with and
                    we'll tell you the grade you need to obtain.</p>
                </div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class='row ml-0'>
              <form style="display: flex;">
                <p style='margin-top:15px'>I want to work with</p>
                <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_specialty'>
                  <option>Choose a Specialty</option>
                  {% for specialty in specialties %}
                  <option>{{ specialty.name }}</option>
                  {% endfor %}
                </select>
                <p style='margin-top:15px'>in the city of</p>
                <select class="btn btn-secondary mr-2 ml-2" id='select_city'>
                  <option style='text-align: center;'>Choose a city</option>
                  {% for city in cities %}
                  <option>{{ city.name }}</option>
                  {% endfor %}
                </select>
                <button class="btn btn-primary mr-2 ml-2" id='getgrade' type='submit'>OK</button>
              </form>
            </div>
            <div class='row mt-3'>
                <div class='col-12'><i>Based on the precedent years, you must obtain a minimum of: </i></div>
                <div class='col-12'>
                  <h2 id='grade' class='ml-0' style='display:inline;'></i></h2>
                  <a tabindex="0" id='grade_question_mark' type="button" style='display:none' data-trigger="focus" class="text-secondary ml-2 fas fa-question-circle fa-lg" data-toggle="popover" title="How is this calculated ?" data-content="This is the lowest grade obtained by a student who chose the same city and the same specialty that the one you've chosen during the precedent years."></a>
                </div>
              </div>
            
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed col-12 text-left" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseThree">
              <div class='row'>
                <div class='col-1'>
                  <img style='width: 100%;' src='{% static "/website/img/doctor.png" %}'>
                </div>
                <div class='col-11'>
                  <h4 style='text-transform: none;'> What specialty will I be able to get ?</h4>
                  <p style='text-transform: none;'>Select your favorite city and the grade you think you'll have and we
                    will estimate the specialties you'll be able to work with.</p>
                </div>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class='row ml-0'>
              <form style="display: flex;">
                <p style='margin-top:15px'>I want to work in the city of</p>
                <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_city2'>
                  <option>Choose a city</option>
                  {% for city in cities %}
                  <option>{{ city.name }}</option>
                  {% endfor %}
                </select>

                <p style='margin-top:15px'>and I think my grade will be around</p>
                <input style='width:50px; text-align: center;' class='ml-3 mr-3' id='select_grade'></input>
                <button class="btn btn-warning mr-2 ml-2" id='getspecialty' type='submit'>OK</button>
              </form>
            </div>
            <div class='row mt-3'>
              <div class='col-12 mb-2'>
                <i>Based on the precedent years, you will be able to work with: </i>
                <a tabindex="0" id='specialty_question_mark' type="button" style='display:none' data-trigger="focus" class="text-secondary ml-2 fas fa-question-circle fa-lg" data-toggle="popover" title="How is this calculated ?" data-content="Those are the specialties chosen by students who chose your city and obtained a grade equal or inferior than yours."></a>
              </div>
              <div class='col-12'>
                <div id='specialty' class='h5'></div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed col-12 text-left" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <div class='row'>
                <div class='col-1'>
                  <img style='width: 100%;' src='{% static "/website/img/location.png" %}'>
                </div>
                <div class='col-11'>
                  <h4 style='text-transform: none;'> Where will I be able to work
                    ?</h4>
                  <p style='text-transform: none;'>Tell us what specialty you want to work with and the grade you think
                    you will have and we will estimate the cities in which you will be able to work.</p>
                </div>

            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class='row ml-0'>
              <form style="display: flex;">
                <p style='margin-top:15px'>I want to work with </p>
                <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_specialty2'>
                  <option>Choose a specialty</option>
                  {% for specialty in specialties %}
                  <option>{{ specialty.name }}</option>
                  {% endfor %}
                </select>

                <p style='margin-top:15px'>and I think my grade will be around</p>
                <input style='width:50px; text-align: center;' class='ml-3 mr-3' id='select_grade2'></input>
                <button class="btn btn-danger mr-2 ml-2" id='getcity' type='submit'>OK</button>
              </form>
            </div>
            <div class='row mt-3'>
              <div class='col-12 mb-2'>
                <i>Based on the precedent years, you will be able to work in: </i>
                <a tabindex="0" id='city_question_mark' type="button" style='display:none' data-trigger="focus" class="text-secondary ml-2 fas fa-question-circle fa-lg" data-toggle="popover" title="How is this calculated ?" data-content="Those are the cities chosen by students who chose your specialty and obtained a grade equal or inferior than yours."></a>
              </div>
              <div class='col-12'>
                <div id='city' class='h5'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a name='rankings'></a>

    <hr class='mt-5'>

    <h1 class='mt-5'>Rankings</h1>
    <p class='lead mb-5'>If you want to study the data more carefully, here are the results of the precedent years.</p>

    <div class="row justify-content-center">

      <form method='get' style='width:80%' class="form-inline mb-5">
        {% for field in myFilter.form %}
        <div class='col-3'>
          <div class='row justify-content-center'>{{field.name|upper}}</div>
          <div class='row justify-content-center'>{{field}}</div>
        </div>
        {% endfor %}
        <button id='filterbutton' type="submit" class="btn btn-primary my-1 mt-4">Submit</button>
      </form>
    </div>

    <div class='row'>
      <table id='mytable' class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Grade</th>
            <th scope="col">Choice</th>
            <th scope="col">Location</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates.object_list %}
              <tr>
                <th scope="row">{{ candidate.id }}</th>
                <td>{{ candidate.grade }}</td>
                <td>{{ candidate.choice }}</td>
                <td>{{ candidate.location }}</td>
                <td>{{ candidate.year }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        <span class="step-links">
            {% if candidates.has_previous %}
                <a href="?page=1#rankings"><i class="fas fa-arrow-circle-left"></i> first</a>
                <a href="?page={{ candidates.previous_page_number }}#rankings">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ candidates.number }} of {{ candidates.paginator.num_pages }}
            </span>
    
            {% if candidates.has_next %}
                <a href="?page={{ candidates.next_page_number }}#rankings">next</a>
                <a href="?page={{ candidates.paginator.num_pages }}#rankings">last <i class="fas fa-arrow-circle-right"></i></a>
            {% endif %}
        </span>
    </div>


    </div>
  </div>
</section>



<script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
<script>
  $("#getgrade").click(function (e) {
    e.preventDefault();
    var specialty = document.getElementById('select_specialty').value;
    var city = document.getElementById('select_city').value;
    $.ajax({
      url: '{% url "get_grade" %}', // La ressource ciblée
      data: {
        'specialty': specialty,
        'city': city,
      },
      success: function (result) {
        document.getElementById('grade').textContent = result;
        document.getElementById('grade_question_mark').style = 'display:inline; vertical-align: super;';
        console.log(result)
      }
    });
  });

  $("#getspecialty").click(function (e) {
    e.preventDefault();
    var grade = document.getElementById('select_grade').value;
    var city = document.getElementById('select_city2').value;
    var specialties = document.getElementById('specialty').innerHTML = '';
    $.ajax({
      url: '{% url "get_specialty" %}', // La ressource ciblée
      dataType: 'Json',
      data: {
        'grade': grade,
        'city': city,
      },
      success: function (result) {
        result = JSON.parse(result)
        document.getElementById('specialty_question_mark').style='display:inline';
        for (i = 0; i < result.length; i++) {
          var specialty = document.createElement('li');
          specialty.textContent = result[i];
          console.log(specialty);
          document.getElementById('specialty').appendChild(specialty);
        }
      }
    });
  });

  $("#getcity").click(function (e) {
    e.preventDefault();
    var grade = document.getElementById('select_grade2').value;
    var specialty = document.getElementById('select_specialty2').value;
    var cities = document.getElementById('city').innerHTML = '';
    $.ajax({
      url: '{% url "get_city" %}', // La ressource ciblée
      data: {
        'grade': grade,
        'specialty': specialty,
      },
      success: function (result) {
        document.getElementById('city_question_mark').style='display:inline';
        for (i = 0; i < result.length; i++) {
          var city = document.createElement('li');
          city.textContent = result[i];
          console.log(city);
          document.getElementById('city').appendChild(city);
        }
      }
    });
  });


  var choice_filter = document.getElementById('id_choice');
  choice_filter.setAttribute('class', 'btn btn-secondary');
  choice_filter.style = 'width:200px'

  var location_filter = document.getElementById('id_location');
  location_filter.setAttribute('class', 'btn btn-secondary');
  location_filter.style = 'width:200px'

  var year_filter = document.getElementById('id_year');
  year_filter.setAttribute('class', 'btn btn-secondary');
  year_filter.style = 'width:200px';

  $(function () {
    $('[data-toggle="popover"]').popover()
  })

  $('.popover-dismiss').popover({
  trigger: 'focus'
})

</script>

{% endblock %}