{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
  <div class='container'>

    <h1>Algorithm</h1>


    <h3>I know my city and my specialty</h3>
    <div class='row ml-0'>
      <form style="display: flex;">
        <p style='margin-top:15px'>I want to work with</p>
        <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_specialty'>
          <option>Choose a Specialty</option>
          {% for specialty in specialties %}
          <option>{{ specialty.name }}</option>
          {% endfor %}
        </select>
        <p style='margin-top:15px'>in the city of</p>
        <select class="btn btn-secondary mr-2 ml-2" id='select_city'>
          <option style='text-align: center;'>Choose a city</option>
          {% for city in cities %}
          <option>{{ city.name }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-primary mr-2 ml-2" id='getgrade' type='submit'>OK</button>
      </form>
    </div>
    <div class='row mt-3'>
      <div class='col-12'><i>Based on the precedent years, you must obtain a minimum of: </i></div>
      <div class='col-12'>
        <h2 id='grade' class='ml-0'></h2>
      </div>
    </div>



    <h3>I know my city and my grade</h3>
    <div class='row ml-0'>
      <form style="display: flex;">
        <p style='margin-top:15px'>I want to work in the city of</p>
        <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_city2'>
          <option>Choose a city</option>
          {% for city in cities %}
          <option>{{ city.name }}</option>
          {% endfor %}
        </select>

        <p style='margin-top:15px'>and I think my grade will be around</p>
        <input class='ml-3 mr-3' id='select_grade'></input>
        <button class="btn btn-primary mr-2 ml-2" id='getspecialty' type='submit'>OK</button>
      </form>
    </div>
    <div class='row mt-3'>
      <div class='col-12'><i>Based on the precedent years, you will be able to work with: </i></div>
      <div class='col-12'>
        <p id='specialty' class='ml-0'></p>
      </div>
    </div>



    <h3>I know my specialty and my grade</h3>
    <div class='row ml-0'>
      <form style="display: flex;">
        <p style='margin-top:15px'>I want to work with </p>
        <select class="btn btn-secondary mr-2 ml-2" style='width:200px' id='select_specialty2'>
          <option>Coose a specialty</option>
          {% for specialty in specialties %}
          <option>{{ specialty.name }}</option>
          {% endfor %}
        </select>

        <p style='margin-top:15px'>and I think my grade will be around</p>
        <input class='ml-3 mr-3' id='select_grade2'></input>
        <button class="btn btn-primary mr-2 ml-2" id='getcity' type='submit'>OK</button>
      </form>
    </div>
    <div class='row mt-3'>
      <div class='col-12'>
        <p>You will be able to work in:
      </div>
      <div class='col-12'>
        <div id='city'></div>
      </div>
    </div>
    <div class="row">
    </div>
    <h1 class='mb-5'>Rankings</h1>
    <div class="row justify-content-center">

      <form method='get' style='width:80%' class="form-inline mb-5">
        {% for field in myFilter.form %}
        <div class='col-3'>
          <div class='row justify-content-center'>{{field.name|upper}}</div>
          <div class='row justify-content-center'>{{field}}</div>
        </div>
        {% endfor %}
        <button id='filterbutton' type="submit" class="btn btn-primary my-1">Submit</button>
      </form>
    </div>

    <div class='row'>
      <table id='mytable' class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Choice</th>
            <th scope="col">Location</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <th scope="row">{{ candidate.id }}</th>
            <td>{{ candidate.first_name }}</td>
            <td>{{ candidate.family_name }}</td>
            <td>{{ candidate.grade }}</td>
            <td>{{ candidate.choice }}</td>
            <td>{{ candidate.location }}</td>
            <td>{{ candidate.year }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>



<script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
<script>
  $("#getgrade").click(function (e) {
    e.preventDefault();
    var specialty = document.getElementById('select_specialty').value;
    var city = document.getElementById('select_city').value;
    $.ajax({
      url: '{% url "get_grade" %}', // La ressource ciblée
      data: {
        'specialty': specialty,
        'city': city,
      },
      success: function (result) {
        document.getElementById('grade').textContent = result;
        console.log(result)
      }
    });
  });

  $("#getspecialty").click(function (e) {
    e.preventDefault();
    var grade = document.getElementById('select_grade').value;
    var city = document.getElementById('select_city2').value;
    $.ajax({
      url: '{% url "get_specialty" %}', // La ressource ciblée
      data: {
        'grade': grade,
        'city': city,
      },
      success: function (result) {
        document.getElementById('specialty').textContent = result;
        console.log(result);
      }
    });
  });

  $("#getcity").click(function (e) {
    e.preventDefault();
    var grade = document.getElementById('select_grade2').value;
    var specialty = document.getElementById('select_specialty2').value;
    $.ajax({
      url: '{% url "get_city" %}', // La ressource ciblée
      data: {
        'grade': grade,
        'specialty': specialty,
      },
      success: function (result) {
        document.getElementById('city').textContent = result;
        console.log(result);
      }
    });
  });

</script>

{% endblock %}