{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
  <div class='container'>
    <div class="row justify-content-center">
      <form method='get' style='width:80%' class="form-inline mb-5">
        {% for field in myFilter.form %}
        <div class='col-3'>
            <div class='row justify-content-center'>{{field.name|upper}}</div>
            <div class='row justify-content-center'>{{field}}</div>
        </div>
        {% endfor %}
        <button id='filterbutton' type="submit" class="btn btn-primary my-1">Submit</button>
      </form>
    </div>

    <div class='row'>
      <table id='mytable' class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Choice</th>
            <th scope="col">Location</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <th scope="row">{{ candidate.id }}</th>
            <td>{{ candidate.first_name }}</td>
            <td>{{ candidate.family_name }}</td>
            <td>{{ candidate.grade }}</td>
            <td>{{ candidate.choice }}</td>
            <td>{{ candidate.location }}</td>
            <td>{{ candidate.year }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>





{% endblock %}