{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section>
    <div class='container'>
        <div class='row mb-5'>
            <div class='col'>
                <div class='row d-inline'>
                    <img class='service_icon mr-2 d-inline align-middle'
                        src='{% static "/website/img/edit-tools.png" %}'>
                    <h1 class='d-inline align-middle mb-3'>Research a hospital</h1>
                </div>
            </div>
        </div>

        <h3>Research by filter</h3>
        <hr>
        <!-- <div class="card mt-3 mb-5" style="width: 48rem;"> -->
        <div class="card mt-3 mb-5">
            <div class="card-body">


                
                    

                        <!-- <form class='d-inline-flex' id='myform'> -->
                        <form id='myform'>
                            <div class='row'>
                            <!-- <div style='width:200px' class="mr-3 col-3"> -->
                                <div class="col-lg-3">
                                <select style='width:200px' id='select_city' name='select_city' class="custom-select custom-select-lg mb-3">
                                    <option selected>Select City</option>
                                    <option value="Cluj-Napoca">Cluj-Napoca</option>
                                    <option value="Bucharest">Bucharest</option>
                                    <option value="Alba Iulia">Alba Iulia</option>
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <select style='width:200px' id='select_hospital' class="custom-select custom-select-lg mb-3">
                                    <option selected>Select Hospital</option>
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <select style='width:200px'id='select_specialty' class="custom-select custom-select-lg mb-3">
                                    <option selected>Select Specialty</option>
                                </select>
                            </div>

                            <div class="mt-2 col-lg-3">
                                <a id='gobutton' href='#' type="submit" class="btn btn-primary">GO</a>
                            </div>
                        </div>
                        </form>
                    
                



            </div>
        </div>


        <div class='row mb-3 mt-3'>
            <div class='col'>
                <h3>Research by City</h3>
                <hr>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-4'>
                <h3 class='text-secondary'>Cluj-Napoca</h3>
                {% for hospital in hospitals %}
                {% if hospital.city.name == 'Cluj-Napoca' %}
                <a href='/hospital/{{hospital.name}}/'>{{hospital.name}}</a> <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#select_city").change(function () {
        var url = "{% url 'ajax_load_hospitals' %}"  // get the url of the `load_cities` view
        var select_city = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'city': select_city       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#select_hospital").html(data);
                console.log('salut')  // replace the contents of the city input with the data that came from the server
            }
        });
    });

    $("#select_hospital").change(function () {
        var url = "{% url 'ajax_load_specialties' %}"  // get the url of the `load_cities` view
        var select_hospital = $(this).val();
        var gobutton = document.getElementById('gobutton');
        $.ajax({                       // initialize an AJAX request
            url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)                    
            data: {
                'hospital': select_hospital       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#select_specialty").html(data);
                // replace the contents of the city input with the data that came from the server
            }
        });
    });

    $("#select_specialty").change(function () {
        var select_hospital = document.getElementById('select_hospital').value;
        var select_specialty = document.getElementById('select_specialty').value;  // get the selected country ID from the HTML input
        var gobutton = document.getElementById('gobutton');
        url_service = '/service/' + select_hospital + '/' + select_specialty;
        console.log(url_service);
        gobutton.setAttribute('href', url_service)
        // replace the contents of the city input with the data that came from the server
    });

</script>



{% endblock %}