{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id='profile' class='col-8 offset-2 mb-5'>
    <div class='container mb-5'>
        <h1>{{ hospital_name }}</h1>
        <h5>{{ specialty }} </h5>
        <h5>{{ city }}</h5>
        {% if user.is_authenticated %}
            {% if favorite %}
                <i>Already in <a href='{% url "profile" %}'>your favorites</a>.</i>
            {% else %}
                <div id='add_to_fav' class='btn btn-primary btn-sm'>Add to favorites</div>
            {% endif %}
        {% else %}
            <i class='text-danger'><i class="fas fa-exclamation-triangle mr-2"></i><a class='text-danger' href='{% url "account_login" %}'>Log yourself to add this service in your favorites</a></i>
        {% endif %}
    </div>

    <hr class='mb-3'>

    <div class='container'>
        <div class='col mb-5 mt-5'>
            <div class='row d-inline'>
                <img class='service_icon d-inline align-middle mr-2' src='{% static "/website/img/informations.png" %}'>
                <h3 class='d-inline align-middle'>General Informations</h3>
            </div>
            <div class='row mt-3'>
                <table class="table table-hover table-bordered">
                    <thead class='thead-dark'>
                        <tr>
                            <th class='h5' scope="col"><i class="fas fa-paste mr-2"></i>Paperwork</th>
                            <th class='h5' scope="col"><i class="fas fa-user-md mr-2"></i>Chief</th>
                            <th class='h5' scope="col"><i class="fas fa-phone-square mr-2"></i>Human Ressources</th>
                            <th class='h5' scope="col"><i class="fas fa-globe mr-2"></i>Website</th>
                            <th class='h5' scope="col"><i class="fas fa-thumbtack mr-2"></i>Residanat.ms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div id='paperwork_check'>
                                    {% for document in documents %}
                                        {% if user.is_authenticated %}
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" class="custom-control-input pw_check"
                                                    id="{{ document.paperwork.name }}" value="{{ document.paperwork.name }}">
                                                <label class="custom-control-label"
                                                    for="{{ document.paperwork.name }}">{{ document.paperwork.name }}</label>
                                            </div>
                                        {% else %}
                                            
                                                <li>{{ document.paperwork.name }}</li>
                                            
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {% if user.is_authenticated %}
                                <div class="progress mt-2">
                                    <div id='my_progress_bar'
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {% endif %}
                            </td>
                            <td>{{chief_name}} {{chief_surname}}</td>
                            <td>01 45 63 22 00</td>
                            <td><a href='http://{{website}}'>{{website}}</a></td>
                            <td><a href='{{residanatms_url}}'>{{residanatms_url}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='row'>
            <div class='col-6' style='margin-bottom: 200px;'>
                <img class='service_icon d-inline align-middle mr-2 mb-2'
                    src='{% static "/website/img/location2.png" %}'>
                <h3 class='d-inline align-middle'>Address</h3>
                <p id='hospital_address'>{{ address }}</p>
                <div id="map"></div>
            </div>
            <div class='col-6'>
                <img class='service_icon d-inline align-middle mr-2 mb-2'
                    src='{% static "/website/img/description.png" %}'>
                <h3 class='d-inline align-middle'>Description</h3>
                <p class="text-justify">
                    {{description}}
                </p>
            </div>
        </div>
    </div>
</section>

{% csrf_token %}

<div style='display:none' id='service_hospital'>{{ service.hospital.name }}</div>
<div style='display:none' id='service_specialty'>{{ service.specialty.name }}</div>
<div style='display:none' id='service_id'>{{ service.id }}</div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&libraries=places"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    // CSRF initialization
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    var paperwork_check = document.getElementsByClassName('pw_check');
    var list_of_paperwork = []

    function progress_pw() {
        var progress = 0;
        for (i = 0; i < paperwork_check.length; i++) {
            if (paperwork_check[i].checked) {
                progress += 100 / paperwork_check.length;
            };
        };
        return progress;
    };

    function move_progress_bar() {
        var progress = progress_pw().toString()
        document.getElementById('my_progress_bar').setAttribute('aria-valuenow', progress);
        document.getElementById('my_progress_bar').style.width = progress + '%';
        progress_pw();
    };

    function check_collected_paperwork() {
        for (i = 0; i < paperwork_check.length; i++) {
            if (list_of_paperwork.includes(paperwork_check[i].value)) {
                paperwork_check[i].checked = true;
            }
        };
    };

    function get_list_of_paperwork() {
        var paperwork = {};
        var service_id = $("#service_id").text();
        var url = '{% url "get_list_of_paperwork" %}'
        $.ajax({                     // initialize an AJAX request
            url: url,                   // set the url of the request                    
            data: {
                'service_id': service_id,
            },
            success: function (response) {
                list_of_paperwork.push.apply(list_of_paperwork, response);
                console.log(list_of_paperwork);
                check_collected_paperwork();
                move_progress_bar();
            }
        });
    };

    get_list_of_paperwork()

    function add_to_paperworks(paperwork) {
        var service_id = $("#service_id").text();
        $.ajax({                     // initialize an AJAX request
            url: '{% url "add_to_paperworks" %}',
            data: {
                'paperwork': paperwork,
                'service_id': service_id,
            },
            success: function (response) {
                console.log('added from documents');
            }
        });
    };

    function remove_to_paperworks(paperwork) {
        var service_id = $("#service_id").text();
        $.ajax({                     // initialize an AJAX request
            url: '{% url "remove_to_paperworks" %}',
            data: {
                'paperwork': paperwork,
                'service_id': service_id,
            },
            success: function (response) {
                console.log('removed from documents');
            }
        });
    };

    for (i = 0; i < paperwork_check.length; i++) {
        paperwork_check[i].addEventListener('change', function () {
            if (this.checked == true) {
                add_to_paperworks(this.value);
            } else {
                remove_to_paperworks(this.value);
            }
        });
    };

    for (i = 0; i < paperwork_check.length; i++) {
        paperwork_check[i].addEventListener('change', function () {
            move_progress_bar();
        });
    };

    

    $("#add_to_fav").click(function () {
        var url = "{% url 'add_to_favorites' %}"; // get the url of the `load_cities` view
        var hospital = $("#service_hospital").text();
        var specialty = $("#service_specialty").text();
        if ($("#add_to_fav").text() == 'Added in your profile') {
            return false;
        } else {
            $.ajax({        // initialize an AJAX request
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                type: "POST",                  // WARNING : this will trigger csrf error 
                url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)                    
                data: {
                    'hospital': hospital,
                    'specialty': specialty,     // add the country id to the GET parameters
                },
                success: function () {   // `data` is the return of the `load_cities` view function
                    $("#add_to_fav").text('Added in your profile');
                    $("#add_to_fav").removeClass('btn-primary');
                    $("#add_to_fav").addClass('btn-warning');
                    $('#add_to_fav').off('click');
                    // replace the contents of the city input with the data that came from the server
                }
            });
        }
    });

    var choice_form = document.getElementById('choice_form');
    var user_choice = document.getElementById('user_choice');
    var edit_button = document.getElementById('edit_button');
    var autocomplete = document.getElementById('autocomplete');
    var hospital_address = document.getElementById('hospital_address').textContent;



    // Initialize and add the map
    function initMap() {
        // The location of the center
        var center = { lat: 45.845, lng: 24.973 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: center });

        // obtaining lat and long from adress 
        var service = new google.maps.places.PlacesService(map);

        var request = {
            query: hospital_address,
            fields: ['name', 'geometry'],
        };



        service.findPlaceFromQuery(request, function (results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
                map.setCenter(results[0].geometry.location);
            }
        });

        function createMarker(place) {
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            // google.maps.event.addListener(marker, 'click', function () {
            //     infowindow.setContent(place.name);
            //     infowindow.open(map, this);
            // });
        }
    }

</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&callback=initMap&libraries=places"
    async defer></script>


{% endblock %}



<script type="text/javascript">
// using jQuery

</script>