{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id='profile' class='col-8 offset-2 mb-5'>
    <div class='container mb-5'>
            <h1>{{ hospital_name }}, {{ specialty }} </h1>
            <h3>{{ city }} </h3>
    </div>

    <div class='container'>
        <div class='col'>
            <div class='row'>
                <strong>General Informations</strong>
            </div>
            <div class='row mt-3'>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Paperwork</th>
                            <th scope="col">Chief</th>
                            <th scope="col">Human Ressources</th>
                            <th scope="col">Website</th>
                            <th scope="col">Residanat.ms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Identification Document</td>
                            <td>{{chief_name}} {{chief_surname}}</td>
                            <td>01 45 63 22 00</td>
                            <td>{{website}}</td>
                            <td>{{residanatms_url}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='row'>
            <div class='col-6'>
                <strong>Address</strong>
                <p id='hospital_address'>{{ address }}</p>
                <div id="map"></div>
            </div>
            <div class='col-6'>
                <strong>Description</strong>
                <p class="text-justify">
                    {{description}}
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&libraries=places"></script>


<script>
    var choice_form = document.getElementById('choice_form');
    var user_choice = document.getElementById('user_choice');
    var edit_button = document.getElementById('edit_button');
    var autocomplete = document.getElementById('autocomplete');
    var validation_button = document.getElementById('validation_button');
    var hospital_address = document.getElementById('hospital_address').textContent;
    edit_button.addEventListener('click', function () {
        user_choice.style = 'display:none';
        choice_form.style = 'display:block';
    });

    validation_button.addEventListener('click', function (e) {
        // e.preventDefault();
        user_choice.textContent = autocomplete.value;
        choice_form.style = 'display:none';
        user_choice.style = 'display:block';
    });


    // Initialize and add the map
    function initMap() {
        // The location of the center
        var center = { lat: 45.845, lng: 24.973 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: center });

        // obtaining lat and long from adress 
        var service = new google.maps.places.PlacesService(map);

        var request = {
            query: hospital_address,
            fields: ['name', 'geometry'],
        };



        service.findPlaceFromQuery(request, function (results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
                map.setCenter(results[0].geometry.location);
            }
        });

        function createMarker(place) {
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            // google.maps.event.addListener(marker, 'click', function () {
            //     infowindow.setContent(place.name);
            //     infowindow.open(map, this);
            // });
        }
    }

</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&callback=initMap&libraries=places"
    async defer></script>


{% endblock %}