{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id='profile' class='col-8 offset-2 mb-5'>
    <div class='container'>
        <div class='col'>
            <div class='row'>
                <p>Welcome Dr {{ user.username }}</p>
            </div>
            <div class='row'>
                <strong>Choice</strong>
                <text id='edit_button'><a href='#' style='margin-left:3px; font-style: italic;'>Edit</a></text>
            </div>
            <div class='row'>
                <form id=choice_form style='display:none'>
                    <input type="text" name="choice" id="autocomplete" />
                    <button type='text' class="btn btn-primary btn-sm" style='vertical-align: top;'
                        id='validation_button'>ok</button>
                </form>
                <p id='user_choice'></p>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='col'>
            <div class='row'>
                <strong>General Informations</strong>
            </div>
            <div class='row mt-3'>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Paperwork</th>
                            <th scope="col">Chief</th>
                            <th scope="col">Human Ressources</th>
                            <th scope="col">Website</th>
                            <th scope="col">Residanat.ms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Identification Document</td>
                            <td>John Smith</td>
                            <td>01 45 63 22 00</td>
                            <td>clinicstjoseph.ro</td>
                            <td>residanat.ro/stjoseph</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='row'>
            <div class='col-6'>
                <strong>Address</strong>
                <div id="map"></div>
            </div>
            <div class='col-6'>
                <strong>Description</strong>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&libraries=places"></script>


<script>
    var choice_form = document.getElementById('choice_form');
    var user_choice = document.getElementById('user_choice');
    var edit_button = document.getElementById('edit_button');
    var autocomplete = document.getElementById('autocomplete');
    var validation_button = document.getElementById('validation_button');
    edit_button.addEventListener('click', function () {
        user_choice.style = 'display:none';
        choice_form.style = 'display:block';
    });

    validation_button.addEventListener('click', function (e) {
        e.preventDefault();
        user_choice.textContent = autocomplete.value;
        choice_form.style = 'display:none';
        user_choice.style = 'display:block';
    });

    var map;

    var request = {
            query: 'Sydney Fish Market',
            fields: ['name', 'geometry'],
        };
    console.log(findPlaceFromQuery(request, ['geometry']));

    function initMap() {
        var sydney = new google.maps.LatLng(-33.867, 151.195);

        map = new google.maps.Map(
            document.getElementById('map'), { center: sydney, zoom: 15 });

        var request = {
            query: 'Sydney Fish Market',
            fields: ['name', 'geometry'],
        };

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSA_ULYZAWaKIITocO960qLrNzuA0l_g&callback=initMap&libraries=places" async defer></script>


{% endblock %}