{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id='profile' class='col-8 offset-2 mb-5'>
    <div class='container'>
        <div class='section'>
            <div class='row'>
                <div class='col'>
                    <h1>Welcome</h1>
                    <p>Welcome Dr {{ user.username }}</p>
                    <p>Your favorites are:</p>
                    <ul>
                        {% for favorite, user_documents in user_documents_for_each_favorites.items %}
                            <li>
                                <p> Favorite : {{ favorite.service }} 
                                    {% if user_documents|length is not 0 %}
                                </p>
                                <p> Documents collected : 
                                        {% for document in user_documents %}
                                            {{ document.pw_service.paperwork.name }},
                                        {% endfor %}
                                    {% else %}
                                <p><i> You didn't collect any document for this one </i></p>
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}